.App {
  width: 80%;
  margin:0 auto;
  clear:both;
  max-width:500px;
  text-align: center;
  margin-top: 50px;

}

#wrapper {
  text-align: left;
}

.userBtns {
  justify-content: right;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 520px;
  max-width: 102%;
  min-width: 315px;
  position: re
}


.user-input {
  border: solid 2px #00807F;
  background-color: #eeecec;
  padding: 12px;
  width: 480px;
  max-width: 100%;
}

.page-header {
  max-width: 500px;
  min-width: 300px;
  margin: 0px auto;
  margin-top: 50px;
  text-align: left;
  color: #00807F;
  border-radius: 20px;
  margin-bottom: 50px;
}


.feedback {
  border: solid 2px #00807f;
  background-color: #eeecec;
  padding: 12px;
  font: -webkit-mini-control;
  text-align: left;
  width: 480px;
  max-width: 100%;

}

.submitBtn button {
  width: 100px;
  height: 45px;
  border-radius: 4px;
  background-color: #00807F;
  border-color: #eeecec;
  color: white;
  font-size: 15px;
}

.clearBtn button {
  width: 100px;
  height: 45px;
  border-radius: 4px;
  background-color: white;
  border-color: #eeecec;
  color: #666666;
  font-size: 15px;
  margin-right: 10px;
}

:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.logo {
  margin-top:40px;
  height:60px;
  width: 300px;
  margin:0 auto;
 }