.analysis {
  margin-left: -140px;
  }

  .feedbackbox {
    display: flex;
    justify-content: center;
  }

.feedback {
    border: solid 2px skyblue;
    background-color: #eeecec;
    padding: 12px;
    margin-bottom: 5px;
    width: 30%;
    height: 20px;
    outline-color: #58a697;
    text-align: left;
}