.feedback-input {
  border: solid 2px #00807F;
  background-color: #eeecec;
  padding: 12px;
  margin-bottom: 5px;
  width: 30%;
}

/* Resize input size to be larger than what it is supposed to be at when clicking it */
.feedback-input:focus {
  min-width: 50%;
}

h1 {
  margin-right: 90%;
}

h2 {
  margin-right: 15%;
}

.third {
  width: 45%;
  height: 100px;
  padding: 10px;
  margin: 0px auto;
  background-color: #ccc;
  font: 1.4em cursive;
  border-radius: 20px;
  border: 3px solid #58a697;
}