.feedback-input {
  border: solid 2px skyblue;
  background-color: #eeecec;
  padding: 12px;
  margin-bottom: 5px;
  width: 30%;
  height: 20px;
  outline-color: #58a697;
}

h1 {
  margin-right: 90%;
}

h2 {
  margin-right: 20%;
}

.description {
  width: 45%;
  height: 100px;
  padding: 10px;
  margin: 0px auto;
  background-color: #ccc;
  font: 1.4em cursive;
  border-radius: 20px;
  border: 3px solid #58a697;
}
