swagger: "2.0"
info:
  description: "This is the API for AI Feedback Coach - AD440 Winter 2022"
  version: "1.0"
  title: "AI Feedback Coach API"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "ericknigge@gmail.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.tasks.testsite01.com"
basePath: "/"
paths:

  /Student/{studentID}/:
    post:
      tags:
      - "Student"
      summary: "Create student and track feedback"
      description: "Create student record and add teacher feedback for student"
      operationId: "addStudentFeedback"
      consumes:
      - "application/json"
      produces:
      - "integer"
      parameters:
      - in: path
        name: studentID
        type: integer
        required: true
        description: "student ID number"
      - in: "body"
        name: "body"
        description: "Student Feedback"
        required: false
        schema:
          $ref: "#/definitions/Student"
      responses:
        "200":
          description: "OK"
        "400":
          description: "Bad Request"     
        "401":
          description: "Unauthorized" 
        "403":
          description: "Forbidden"
        "500":
          description: "Internal Server Error"
    get:
      tags:
      - "Student"
      summary: "Get student feedback"
      description: "Get all student feedback data"
      operationId: "getStudentFeedback"
      produces: 
      - "application/json"
      parameters: 
      - in: path
        name: studentID
        type: integer
        required: true
        description: "student ID number"
      responses: 
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Student"
        "401":
          description: "Unauthorized" 
        "403":
          description: "Forbidden"
        "500":
          description: "Internal Server Error"
    patch:
      tags:
      - "Student"
      summary: "Add additional feedback"
      description: "Add additioinal feedback for existing student"
      operationId: "updateStudent"      
      consumes:
      - "application/json"
      produces:
      - "integer"
      parameters: 
      - in: path
        name: studentID
        type: integer
        required: true
        description: "student ID number"
      - in: "body"
        name: "body"
        description: "Student Feedback"
        required: true
        schema:
          $ref: "#/definitions/Student"        
      responses: 
        "200":
          description: "OK"      
        "401":
          description: "Unauthorized" 
        "403":
          description: "Forbidden"
        "405":
          description: "Method Not Allowed"
    delete:
      tags:
      - "Student"
      summary: "Remove Student & Feedback"
      description: "Delete student, and all comments for student"
      operationId: "removeStudent"      
      parameters:
      - in: path
        name: studentID
        type: integer
        required: true
        description: "student ID number"
      responses:
        "200":
          description: "OK"        
        "401":
          description: "Unauthorized" 
        "403":
          description: "Forbidden"
 

  /Student/{studentID}/comment/:
    post:
      tags:
      - "Comment"
      summary: "Get comment feedback for student"
      description: "Get comment feedback for a particular student"
      operationId: "commentFeedback"
      consumes:
      - "application/json"
      produces:
      - "string"
      parameters:
      - in: path
        name: studentID
        type: integer
        required: true
        description: "student ID number"
      - in: "body"
        name: "body"
        description: "Student Feedback"
        required: false
        schema:
          type: string
      responses:
        "200":
          description: "OK"
          schema:
            type: string
        "400":
          description: "Bad Request"     
        "401":
          description: "Unauthorized" 
        "403":
          description: "Forbidden"
        "500":
          description: "Internal Server Error"  
    get:
      tags:
      - "Comment"
      summary: "Invalid operation"
      description: "Comment delete not supported"
      consumes: []
      produces: []
      parameters:
      - in: path
        name: studentID
        type: integer
        required: true
        description: "student ID number"
      responses: 
        "401":
          description: "Unauthorized" 
        "403":
          description: "Forbidden"
        "405":
          description: "Method Not Allowed"   
    patch:
      tags:
      - "Comment"
      summary: "Invalid operation"
      description: "Comment delete not supported"
      consumes: []
      produces: []
      parameters:
      - in: path
        name: studentID
        type: integer
        required: true
        description: "student ID number"
      responses: 
        "401":
          description: "Unauthorized" 
        "403":
          description: "Forbidden"
        "405":
          description: "Method Not Allowed" 
    delete:
      tags:
      - "Comment"
      summary: "Invalid operation"
      description: "Comment delete not supported"
      consumes: []
      produces: []
      parameters:
      - in: path
        name: studentID
        type: integer
        required: true
        description: "student ID number"
      responses: 
        "401":
          description: "Unauthorized" 
        "403":
          description: "Forbidden"
        "405":
          description: "Method Not Allowed" 
 
  
definitions:
  Student:
    type: "object"
    properties:
      comments:
        type: "array"
        items: {type: "string"}
 
  
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"